@import "../../styles/variables";

.input {
  display: flex;
  flex-direction: column;

  border: 2px solid $border-color;
  border-radius: 4px;

  padding: 10px;

  input, input::placeholder{
    border: none;
    outline: none;
    height: 24px;
    font-size: 18px;
  }

  label {
    font-weight: 700;
    font-size: 14px;

    span {
      color: $red-color;
    }
  }
}

.errors {
  color: $red-color;
  font-size: 12px;
}