@import '../../styles/variables';

#registration {
  padding: 40px 82px;
  position: relative;

  #registration-header {
    display: flex;
    flex-direction: column;
    gap: 50px;

    img {
      width: 54.29px;
      height: 58.8px;
    }

    h1 {
      font-size: 29.4px;

      span {
        color: $red-color;
      }
    }
  }
}