#login {
  background-color: rgba(57, 58, 58, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .preloader-container {
    padding-top: 0;
  }

  #popup {
    background-color: #FFFFFF;
    //width: 605px;
    //height: 563px;
    border-radius: 10px;
    position: relative;
    padding: 50px 70px;

    #close-btn {
      position: absolute;
      top: -30px;
      right: -30px;
      cursor: pointer;
    }

    #popup-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      gap: 15px;
    }

    #popup-form {
      .login-input {
        min-width: 465px;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 23px;
      }

      .forgot {
        font-size: 16px;
        text-decoration-line: underline;
        margin-top: 20px;
        margin-bottom: 40px;
        cursor: pointer;
      }

      button {
        background: #D73037;
        border-radius: 24px;
        border: none;
        color: #FFFFFF;
        padding: 15px 0;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}